### Java
# Compiled class file
*.class

# Log file
*.log

# Package Files
*.jar
*.war
*.ear

# Virtual machine crash logs
hs_err_pid*
replay_pid*

### Windows
# Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

/out/
*.class
player.dat